.product-list {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .product-list h2 {
        font-weight: bold;
    }

    .product-list table {
        margin-top: 20px;
    }
